:root {
    --fs-sm: 10px;
    --fs-md: 12px;
    --fs-lg: 14px;
    --fs-xl: 16px;
    --fs-2xl: 18px;
    --fs-3xl: 24px;
    --fs-4xl: 32px;
    --fs-5xl: 64px;

    /* color */
    --fc-pink: #f6e8ed;
    --fc-blue: #191A42;
    --fc-white: #ffffff;
    --fc-white-dark: #f7f9fb;
    --fc-blue-fade: #24254b;
    --fc-light-blue: #7C7DB9;
    --fc-sky: #48C3D7;
    --fc-blue-dark: #111235;
    --fc-light-white: #C9CAD4;

}

@media (max-width:991.98px) {
    :root {
        --fs-5xl: 58px;
    }
}

@media (max-width:767.98px) {
    :root {
        --fs-3xl: 20px;
        --fs-4xl: 28px;
        --fs-5xl: 50px;
    }
}

@media (max-width:575.98px) {
    :root {
        --fs-3xl: 18px;
        --fs-4xl: 22px;
        --fs-5xl: 40px;
    }
}

@media (max-width:399.98px) {
    :root {
        --fs-lg: 11px;
    }
}